-
  const footerMenu = [
    { name: 'Мы лечим', 
      list: [ 'Простатит', 'Хр. тазовая боль', 'Методы', 'Диагностика']
    },
    { name: 'Пациентам', 
      list: [ 'О клинике', 'Врачи', 'Цены', 'Справочник' ]
    },
  ]
