.accordion-item
  --transition-in .1s
  --transition-out .3s
  display grid
  grid-template-rows min-content 0fr
  transition-property grid-template-rows
  transition-duration var(--transition-out)
  & + &
    margin-top 1rem
  &--active
    grid-template-rows min-content 1fr
    transition-duration var(--transition-in)
    & ^[-1]__body
      padding-y 1rem
      transition-duration var(--transition-in)
  &__header
    position relative
    padding 1rem
    padding-right 2.25rem
    $font-20()
    font-weight 500
    background-color var(--color-background)
    border-radius var(--border-radius-s)
    cursor pointer
  &__arrow
    position absolute
    top 50%
    right 1rem
    display block
    width 1rem
    height 1rem
    translate 0 -50%
    path
      stroke var(--color-mark)
  &__body
    display flex
    flex-direction column
    gap 0.5rem
    padding-x 1rem
    overflow hidden
    transition-property padding
    transition-duration var(--transition-out)
