extends /blocks/layout/layout

include /blocks/icon-block/icon-block
include /blocks/text-marked/text-marked
include /blocks/block-marked/block-marked
include /blocks/ul/ul
include /blocks/table/table
include /blocks/accordion-item/accordion-item
include /blocks/slider/slider
include /blocks/link-icons/link-icons
include /blocks/form-input/form-input

block head
  -
    const pageTitle = `${siteName}: Главная страница`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'main'
    const isHomePage = true
  include /data/menu/index
block content 
  +pageSection({ tag: 'section', noContent:true, noPadding: ['top', 'bottom'] }).home-header: .content.home-header__content
    h1.home-header__title Излечиваем хронический простатит (СХТБ) с&nbsp;эффективностью&nbsp;87%
    +textMarked({ tag: 'a', size:'m' })(href='#callback-form').button Записаться на консультацию
  +pageSection({ tag: 'section' })
    h2 Наши преимущества
    -
      const advantages = [
        {
          title: 'Эффективная методика',
          text: 'Единственная, которая направлена на истинную причину болезни, а не на симптомы.'
        },
        {
          title: 'Специализация',
          text: 'Сконцентрировали компетенции в одной сфере. Глубоко понимаем причины заболевания.'
        },
        {
          title: 'Внимание к вашей проблеме',
          text: 'Лучше других понимаем пациентов с хроническим простатитом.'
        },
      ]
    +grid.page-subsection
      each item in advantages
        +iconBlock({ shield:true })(class = cell({ l:4, m:6 }))
          +textMarked({ tag: 'p', size: 'xl', color: 'blue' }) !{item.title}
          p !{item.text}  

  +pageSection({ tag: 'section', backgroundColor: true })
    h2 Когда вам нужно обратиться именно к нам?
    +ul({ bordered:true, noMargin: true })(class= grid({ smallGap:'y' })).page-subsection
      +cell({ tag: 'li', s:6 }) Вы&nbsp;обошли несколько врачей и&nbsp;везде ставят диагноз &laquo;хронический простатит&raquo;.
      +cell({ tag: 'li', s:6 }) Перепробовали несколько вариантов лечения, но&nbsp;ничего сильно не&nbsp;изменило ваше состояние.
      +cell({ tag: 'li', s:6 }) Никто из&nbsp;врачей не&nbsp;может четко объяснить, что с&nbsp;вами происходит и&nbsp;как это вылечить.
      +cell({ tag: 'li', s:6 }) Сдали множество анализов, пытаясь найти инфекции или бактерии. Принимали курсы антибиотиков, которые не&nbsp;дали результатов.
      +cell({ tag: 'li', s:6 }) Столкнулись с&nbsp;хамством, безразличием врачей, &laquo;выкачиванием&raquo; денег.

  +pageSection({ tag: 'section' })
    h2 О методике
    -
      const methods = [
        {
          title: 'Уникальность',
          text: 'Не&nbsp;имеющая аналогов в&nbsp;мире методика лечения хронического простатита (синдрома хронической тазовой боли).'
        },
        {
          title: 'Эффективность',
          text: 'После прохождения полного курса лечения&nbsp;87% пациентов имеют стойкую ремиссию на&nbsp;протяжении 20&nbsp;и&nbsp;более лет.'
        },
        {
          title: 'Проверенность',
          text: 'Методика лечения используется с&nbsp;1988&nbsp;года. Проверена на&nbsp;сотнях пациентов.'
        },
        {
          title: 'Безопасность',
          text: 'Без операций, госпитализации, длительных курсов медикаментов, сложной диагностики и&nbsp;большого числа анализов.'
        },
      ]
    +grid.page-subsection
      each item in methods
        +blockMarked(class = cell({ m:6 }))
          +textMarked({ tag: 'p', size: 'xl', color: 'blue' }).text-align-center !{item.title}
          p.text-align-center !{item.text}  
  +pageSection({ tag: 'section', backgroundColor: true })
    h2 Остались вопросы?
    p.text-align-center Свяжитесь с нами и узнайте подробности о заболевании, методике лечения, ценах.
    +grid({ justify: 'center' }).par
      +cell({ tag: 'a', l:2, s:4 })(href='tel:+74951234567').button.par Позвонить
  +pageSection({ tag: 'section' })
    h2 Когда записаться в&nbsp;нашу клинику?
    p.text-align-center Если вас беспокоят один или несколько таких симптомов, вам необходима консультация нашего уролога:
    +ul({ bordered:true, noMargin: true })(class= grid({ smallGap:'y' })).par
      +cell({ tag: 'li', s:6 }) Боль в&nbsp;паховой области, которая может отдавать в&nbsp;яичко, половой член, внутреннюю поверхность бедра, копчик, задний проход
      +cell({ tag: 'li', s:6 }) Затрудненное или учащенное мочеиспускание, неудержимые позывы
      +cell({ tag: 'li', s:6 }) Снижение эрекции
      +cell({ tag: 'li', s:6 }) Боли усиливаются после эякуляции или мочеиспускания
      +cell({ tag: 'li', s:6 }) Наличие желтой слизи в&nbsp;эякуляте
  +pageSection({ tag: 'section', noPadding:'top' })
    h2 Цены
    +table
      +tr
        +td Прием (осмотр консультация) врача-уролога первичный
        +td.text-align-center 3500 руб.
      +tr
        +td Прием (осмотр консультация) врача-уролога вторичный
        +td.text-align-center 2500 руб.
    +textMarked({ tag:'p', size: 's', color: 'grey' }) Указанные на сайте цены не являются публичной офертой. Стоимость услуг зависит от уровня квалификации специалиста.
    //- +grid({ justify: 'center' }).par
    //-   +cell({ tag: 'a', l:2, s:4 })(href='#').button Все цены 
  +pageSection({ tag: 'section', noPadding:'top' })
    h2 Частые вопросы
    +pageSubsection
      +accordionItem('Как долго длится лечение?').par
        p Длительность лечения зависит от времени, которое вы болеете, а также от реакции организма на процесс лечения. 
      +accordionItem('Какие методы вы используете для лечения?').par
        //- p Длительность лечения зависит от времени, которое вы болеете, а также от реакции организма на процесс лечения. 
      +accordionItem('Почему я раньше не слышал о данной методике лечения?').par
        //- p Длительность лечения зависит от времени, которое вы болеете, а также от реакции организма на процесс лечения. 
    //- +grid({ justify: 'center' }).page-subsection
    //-   +cell({ tag: 'a', l:2, s:4 })(href='#').button.par Задать вопрос
  +pageSection({ tag: 'section', backgroundColor: true })
    h2 О клинике
    p Наша клиника&nbsp;&mdash; центр компетенций в&nbsp;лечении хронического простатита (синдрома хронической тазовой боли).
    p Мы&nbsp;#[strong специализированная клиника]&nbsp;&mdash; сконцентрировали компетенции в&nbsp;одной сфере, в&nbsp;которой хорошо разбираемся. Глубокое #[strong понимание причин заболевания], состояния пациента и&nbsp;подхода к&nbsp;лечению.
    p Используем #[strong накопленный за&nbsp;30-лет опыт] в&nbsp;лечении хронического простатита (синдрома хронической тазовой боли).
  +pageSection({ tag: 'section' }).home-gallery
    h2 Фото клиники
    +slider.page-subsection
      - for (let i = 1; i < 4; i++)
        +slide
          +img({
            name: `photo-${[i]}`,
            path: '/images/',
            formats: [
              { ext: 'webp', type: 'image/webp' },
              { ext: 'jpg', orig: true },
            ],
            density: [
              { values: [ 1, 2 ] },
            ],
          }).image-border-radius-s
  +pageSection({ tag: 'section', noPadding:'top' }).home-treatment
    h2 Как попасть на лечение?
    - 
      const treatment = [
        {
          title: 'Консультация',
          tel: '+7 (495) 123-45-67',
          //- messenger: 'true',
          text: 'Медицинский консультант расспросит о симптомах, подберет подходящего врача, расскажет про стоимость процедур и запишет на первичный прием.',
          duration: '5 минут',
        },
        {
          title: 'Прием специалиста',
          text: 'Врач внимательно и спокойно выслушает вас, изучит данные предыдущих исследований, назначит только необходимую диагностику и поставит предварительный диагноз.',
          duration: 'от 30 до 40 минут',
        },
        {
          title: 'Диагностика в тот же день',
          text: 'Врач выполнит осмотр предстательной железы и семявыводящих путей, возьмет биоматериал для анализов. <br> На основе полученных данных врач сможет назначить индивидуальный курс лечения.',
          duration: 'от 10 до 20 минут',
        },
        {
          title: 'Повторный прием и лечение',
          text: 'Врач подробно раскажет о результатах анализа, детально объяснит суть курса лечения, опишет процедуры и препараты. <br> В этот же день вы сможете начать лечение.',
          duration: 'от 20 до 40 минут',
        },
      ]
    +slider.page-subsection
      each item in treatment
        +slide.home-treatment-item
          .home-treatment-item__inner
            +textMarked({ tag: 'p', size: 'xl', color: 'blue' }).home-treatment-item__title !{item.title}
            if (item.tel)
              .home-treatment-item__tel По телефону: #[span !{item.tel}]
            if (item.messenger)
              .home-treatment-item__messenger В мессенджере:
                +linkIcons(['whatsapp', 'telegram', 'vk' ], { inline: true })
            .home-treatment-item__text !{item.text}
            .home-treatment-item__duration !{item.duration}
  +pageSection({ tag: 'section', noPadding:'top' })#callback-form
    h2 Запишитесь на прием сегодня
    +pageSubsection.block-marked
      +textMarked({ tag:'p', size: 'm' }).text-align-center Администратор свяжется с вами для уточнения даты и времени.
      +grid({ tag: 'form', smallGap: 'y', justify: 'center', alignItems: 'flex-end' })(method= 'post' action='').form.par
        +formInput({type: 'text', name: 'name', placeholder: 'Имя', required: true, label: '<strong>Имя *</strong>' })(class= cell({ m:4, s:6 })).form__input
        +formInput({type: 'tel', name: 'tel', placeholder: '+7 (9__) ___-__-__', required: true, label: '<strong>Телефон *</strong>' })(class= cell({ m:4, s:6 })).form__input
        button(type='submit' class= cell({ m:4 })).button.form__submit Отправить
        +formInput({type:'checkbox', required: true, checked: true, label: ['Отправляя эту форму, вы соглашаетесь с условиями ',{tag: 'a', attr: { href:'#', class: 'link' }, content:'Обработки персональных данных.'}]})(class= cell()).form__agreement
  +pageSection({ tag: 'section', noPadding:'top' }).home-contacts
    h2 Наш адрес
    +grid.page-subsection
      +cell({ m:6 })
        .home-contacts__inner
          +textMarked({ tag:'p', size: 'm' }) г. Москва, ул. Веерная, д.&nbsp;1, к.&nbsp;2
          .home-contacts__icon.home-contacts__icon--call
            a(href='tel:+74951234567').link +7 (495) 123-45-67
          .home-contacts__icon.home-contacts__icon--mail
            a(href='mailto:ask@inamed.ru').link ask@inamed.ru
        .home-contacts__map#home-contacts-map
