extends /blocks/layout/layout

include /blocks/ul/ul

block head
  -
    const pageTitle = `${siteName}` 
    const pageDescription = ''
    const pageKeywords = ''
  include /data/menu/index
block content
  +pageSection
    +ul
      li: a(href='main.html') Главная страница   
