.footer
  &__name
    display flex
    flex-direction column
    $font-22()
    line-height 1
    font-weight 500
    color var(--color-mark)
    span
      $font-18()
      color var(--color-mark-light)
  &__share
    display flex
    align-items center
    gap 0.5rem
  &__copyright
    display flex
    flex-direction column
    gap 0.25rem
    align-items flex-start
  &__item
    --icon-size 1.25rem
    display flex
    align-items center
    gap 0.5rem
    +before()
      display block
      width var(--icon-size)
      height var(--icon-size)
      mask-image var(--before-mask-image)
      mask-size cover
      mask-repeat no-repeat
      mask-position center
      background-color var(--color-mark)
    for icon in accessability license
      &--{icon}
        --before-mask-image maskImage(icon, common)
  &__info
    display flex
    flex-direction column
    align-items flex-start
    gap 0.25rem
