include /blocks/logo/logo
include /blocks/footer-menu/footer-menu
include /blocks/link-icons/link-icons
include /blocks/text-marked/text-marked

mixin footer
  +pageSection({ tag: 'footer', backgroundColor: true, noContent:true }).footer&attributes(attributes): +content(class= grid())
    +cell({ xs:6 })
      .footer__name Инамед #[span Клиника урологии]
    +cell({ xs:6 })
      +textMarked({ tag: 'p', size: 'xl', color:'blue' }) Лечим иначе!
    //- +cell({ m:6 }).footer__menu
    //-   +grid
    //-     each item in footerMenu
    //-       +cell({ xs:6 })
    //-         +footerMenu(item)
    //- +cell({ m:6 })
      //- .footer__share.par Делимся пользой в соцсетях
      //-   +linkIcons([ 'telegram', 'vk' ], { inline: true })
      //- .footer__item.footer__item--license.par
      //-   a(href='#').link Лицензии и сертификаты
    
    +cell({ m:6 }).footer__info
      //- .footer__item.footer__item--accessability
      //-   a(href='#').link Версия для слабовидящих
      .footer__item.footer__item--license.par
        a(href='#').link Лицензии и сертификаты
      +textMarked({ size: 's' }) Имеются противопоказания, необходима консультация специалиста.
      //- +textMarked({ size: 's', color: 'grey' }) Медицинскую услугу оказывает клиника партнер&nbsp;&mdash; ООО &laquo;Горлаб-Матвеевское&raquo;, лицензия Л041-01137-77/00363130 от&nbsp;19.02.2010. #[br] ООО &laquo;Инамед&raquo; оказывает информационную услугу клинику партнеру.
    +cell({ m:6 }).footer__copyright
      p 2024, ООО &laquo;Инамед&raquo;
      //- a(href='#').link Карта сайта
      a(href='#').link Правила использования сайтом
      a(href='#').link Соглашение на обработку персональных данных
