.unordered-list
  --icon-size 0.375rem
  --item-margin .25rem
  & + &
    margin-top .625rem
  li
    position relative
    padding-left 1rem
    & + li
      margin-top var(--item-margin)
    +before()
      position absolute
      top 50%
      left 0
      width var(--icon-size)
      height var(--icon-size)
      background-color var(--color-mark)
      border-radius 100vmax
      transform translate(0, -50%)
  &--bordered
    --icon-size 1.5rem
    --item-margin 1rem
    li 
      display flex
      align-items center
      padding 1.25rem 1.75rem
      border 1px solid var(--color-mark-light)
      border-radius var(--border-radius-s)
      +before()
        left -0.75rem
        background-image backgroundImage(check)
        background-size cover
        background-repeat no-repeat
        background-position center
        background-color transparent
  &--no-margin
    --item-margin 0

