.home-header
  position relative
  aspect-ratio 480/660
  +media(s)
    aspect-ratio 800/556
  +media(m)
    aspect-ratio 1000/620
  +media(l)
    aspect-ratio 1500/830
  +media(xl)
    aspect-ratio 1500/630
  &__content
    display flex
    flex-direction column
    justify-content flex-end
    gap var(--gap)
    padding-y 1.75rem
    +media(m)
      align-items flex-start
      padding-y 3.75rem
