.home-header
  --before-background-image image-set(url(../images/home-header_xs.jpg) 1x, url(../images/home-header_xs@2x.jpg) 2x)
  +media(s)
    --before-background-image image-set(url(../images/home-header_s.jpg) 1x, url(../images/home-header_s@2x.jpg) 2x)
  +media(m)
    --before-background-image image-set(url(../images/home-header_m.jpg) 1x, url(../images/home-header_m@2x.jpg) 2x)
  +media(l)
    --before-background-image image-set(url(../images/home-header_l.jpg) 1x, url(../images/home-header_l@2x.jpg) 2x)
  +media(xl)
    --before-background-image image-set(url(../images/home-header_l.jpg) 1x, url(../images/home-header_l@2x.jpg) 2x)
  +before() 
    position absolute
    width 100%
    height 100%
    background-image var(--before-background-image)
    background-repeat no-repeat
    background-position center
    background-size cover
    z-index -1
  &__title
    color var(--color-white)
    letter-spacing 0.03em
