a
  text-decoration none
  &.link
    position relative
    // display inline-block
    color var(--color-mark)
    transition color var(--transition-duration-out) ease-in-out
    +before()
      position absolute
      bottom 0
      right 0
      width 0
      height 1px
      background-color var(--color-mark)
      transition width var(--transition-duration-out) ease-in-out, background-color var(--transition-duration-out) ease-in-out
    +hover()
      color var(--color-mark-dark)
      transition-duration var(--transition-duration-in)  
      +before()
        right auto
        left 0
        width 100%
        background-color var(--color-mark-dark)
        transition-duration var(--transition-duration-in)  
