.page-section
  position relative
  padding-y 3.75rem
  &--no-padding
    &--top
      padding-top 0
    &--bottom
      padding-bottom 0
  &--background-color
    background-color var(--color-background)
