.list-ordered
  // list-style-position inside
  padding-left 1rem
  &__item
    & + &
      margin-top .625rem
    &::marker
      font-weight 700
      color black
    & .unordered-list
      margin-top 0.5rem
