.link-icons
  display flex
  align-items center
  gap 0.5rem
  &--inline
    display inline-flex
  &__link
    display block
    width 2rem
    height 2rem
    mask-image var(--before-mask-image)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    background-color var(--color-mark)
    transition background-color var(--transition-duration-out)
    +hover()
      background-color var(--color-mark-dark)
      transition-duration  var(--transition-duration-in)
    for icon in 'vk' 'whatsapp' 'telegram'
      &--{icon}
        --before-mask-image maskImage(icon, common)
