include /blocks/container/container
include /blocks/content/content
include /blocks/logo/logo
//- include /blocks/header-navigation/header-navigation

mixin header
  if isHomePage
    +container({ tag: 'header' }).header
      +content.header__inner
        //- +logo.header__logo
        .header__name Инамед #[span Клиника урологии]
        a(href='tel:+74951234567' aria-label='Позвонить').header__call
        //- button(type='button' aria-label='Открыть или закрыть мобильное меню').header__switcher.js-header-switcher.hidden-m.hidden-l
        //- .header__pop-up
          //- +headerNavigation(menu).header__navigation
  else 
    +container({ tag: 'header' }).header.header--inner
      +content.header__inner
        //- +logo.header__logo
        .header__name Инамед #[span Клиника урологии]
        a(href='tel:+74951234567' aria-label='Позвонить').header__call
        //- button(type='button' aria-label='Открыть или закрыть мобильное меню').header__switcher.js-header-switcher.hidden-m.hidden-l
        //- .header__pop-up
          //- +headerNavigation(menu).header__navigation
