.header
  position fixed
  width 100%
  &__inner
    display grid
    // grid-template-areas 'logo name call switcher'
    // grid-template-columns 100px auto 1.25rem 2rem
    grid-template-areas 'name call'
    grid-template-columns auto 1.25rem
    gap calc(var(--gap) / 2)
    padding-y calc(var(--gap) / 2)
  &__logo
    grid-area logo
  &__name
    grid-area name
    justify-self center
    display flex
    flex-direction column
    $font-22()
    line-height 1
    font-weight 500
    +media(m)
      flex-direction row
      gap calc(var(--gap) / 2)
    span
      $font-18()
  &__call
    grid-area call
    width 1.25rem
    height 1.25rem
  &__switcher
    grid-area switcher
    width 2rem
    height 2rem
    appearance none
    border none
