.header
  --before-scroll-element-color var(--color-white)
  --before-scroll-element-color-secondary var(--color-white)
  background-color transparent
  backdrop-filter blur(1em)
  z-index 1000
  transition background-color var(--transition-duration-out) ease-in-out
  &--inner
    --before-scroll-element-color var(--color-mark)
    --before-scroll-element-color-secondary var(--color-mark-light)
    background-color var(--color-white)
    box-shadow 0px 33px 80px rgba(53,82,122,0.28),0px 7.37098px 17.869px rgba(53,82,122,0.16691),0px 2.19453px 5.32008px rgba(53,82,122,0.11309)
  &--scrolled
    --before-scroll-element-color var(--color-mark)
    --before-scroll-element-color-secondary var(--color-mark-light)
    background-color var(--color-white)
    transition-duration var(--transition-duration-in)
    box-shadow 0px 33px 80px rgba(53,82,122,0.28),0px 7.37098px 17.869px rgba(53,82,122,0.16691),0px 2.19453px 5.32008px rgba(53,82,122,0.11309)
  &__inner
    align-items center
  &__name
    align-items baseline
    color var(--before-scroll-element-color)
    transition color var(--transition-duration-out) ease-in-out
    span
      color var(--before-scroll-element-color-secondary)
      transition color var(--transition-duration-out) ease-in-out
  &__call
    mask-image maskImage(call)
    mask-size cover
    mask-repeat no-repeat
    mask-position center
    background-color var(--before-scroll-element-color)
    transition background-color var(--transition-duration-out) ease-in-out
  &__switcher
    background-color transparent
    +before()
      display block
      width 1.25rem
      height 1.25rem
      mask-image maskImage(opener)
      mask-size contain
      mask-repeat no-repeat
      mask-position center
      background-color var(--before-scroll-element-color)
