.icon-block
  --icon-size 3.5rem
  display flex
  align-items center
  gap calc(var(--gap) / 2)
  padding calc(var(--gap) / 1.25)
  background-color var(--color-white)
  box-shadow 0px 33px 80px rgba(53,82,122,0.28),0px 7.37098px 17.869px rgba(53,82,122,0.16691),0px 2.19453px 5.32008px rgba(53,82,122,0.11309)
  border-radius var(--border-radius-m)
  +before()
    width var(--icon-size)
    height var(--icon-size)
    flex-shrink 0
    mask-image var(--before-mask-image)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    background-color var(--color-mark)
  for icon in shield 
    &--{icon}
      --before-mask-image maskImage(icon, common)
